<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>Courses</title> 
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="coursePage">

  <div data-role="header"><h1>Courses</h1></div>

  <div role="main" class="ui-content">

  <ul data-role = "listview" data-inset = "true">
    <li>PSYC 403 - Measurment and Evaluation</li>
    <li>INFO 401 - Mobile Enterprise Application Development</li>
    <li>PSYC 495 - Meta-Analytic Research</li>
    <li>PSYC 101 - General Psychology</li>
    <li>MBA - Introduction To Mortgage Banking</li>
  </ul>	
    
  </div>
</div>
</body>
</html>