<!DOCTYPE html>
<html>
<head>
<title>Home</title> 
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "Crisp.min.css"/>
<link rel = "stylesheet" href = "jquery.mobile.icons.min.css"/>
<link rel="stylesheet" href=
"https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css"/>

<link rel="stylesheet" href="styles.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="notekeeperapp.js"></script>
</head>

<body>

<div data-role="page" id="homePage">

  <div data-role="header"><h1>Welcome</h1></div>

  <div role="main" class="ui-content">

    <ul data-role = "listview" data-inset = "true">
      <li><a href = "courses.html">Courses</a></li>
      <li><a href = "faculty.html">Professors</a></li>
      <li><a href = "SUInfo.html">Contact SU</a></li>
      <li><a href = "taskmanager.html">Task Manager</a></li>
      <li><a href = "responsive_table.html">Professor Breakdown</a></li>
    </ul>
    
  </div>

  <div data-role="footer">
    <h4>Copyright Crisp &copy; 2017</h4>
  </div>
	
</div>
	
	<div data-role="footer">
	<h4>Copyright Crisp &copy; 2017</h4>
	</div>
	
</body>
</html>

