<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>MBA</title> 
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="MBAPage">

  <div data-role="header"><h1>Mortgage Bankers Association</h1></div>

  <div role="main" class="ui-content">

  <p>
    I am taking the Introduction to Mortgage Banking through the MBA for my internship at NewDay USA - a mortgage company for veterans, service members, and their families. 
  </p>
    
    <a href = "https://www.mba.org/">Click here to learn more about the Mortgage Bankers Association!</a>
    
  </div>
	
	
</div>

</body>
</html>
