<!DOCTYPE html>
<html>
<head>
<title>Professor Breakdown</title>
<meta name="viewport" 
      content="width=device-width, initial-scale=1">	
<link rel="stylesheet" 
      href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" 
        src="http://code.jquery.com/jquery-2.1.3.min.js">
</script>
<script type="text/javascript" 
        src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js">
</script>
</head>

<body>

<div data-role="page" id="first">

	<div data-role="header">
		<h1>Professor Breakdown</h1>
	</div>
	
	<div role="main" class="ui-content">

		<table data-role="table" data-mode="columntoggle" id="peopleTable" class="ui-responsive">
			<thead>
				<tr>
					<th>Name</th>
					<th data-priority="1">Title</th>
					<th data-priority="2">Department</th>
					<th data-priority="3">Degree</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Kathie Wright</th>
					<td>Associate Professor</td>
					<td>Information & Decision Sciences</td>
					<td>Ph.D.</td>
				</tr>		
				<tr>
					<th>Echo Leaver</th>
					<td>Assistant Professor</td>
					<td>Psychology</td>
					<td>Ph.D.</td>
				</tr>		
				<tr>
					<th>Charisse Chappell</th>
					<td>Assistant Professor</td>
					<td>Psychology</td>
					<td>Ph.D.</td>
				</tr>		
        <tr>
					<th>Thomas Tomcho</th>
					<td>Associate Professor</td>
					<td>Psychology</td>
					<td>Ph.D.</td>
				</tr>		
        <tr>
					<th>MBA</th>
					<td>Association</td>
					<td>Mortgage Banking</td>
					<td>CMB</td>
				</tr>		
			</tbody>
		</table>

	</div>


</div>

</body>
</html>
