<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>Salisbury University</title> <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
  
<body>

  <div data-role="page" id="SUPage">  
    
  <div data-role="header"><h1>Salisbury University</h1></div>
    
    <img src = "https://maps.googleapis.com/maps/api/staticmap?center=Salisbury,MD&zoom=14&size=400x400&key=AIzaSyBiD65IK_DmjbQ2VVcDdL1JMzfB6r0whls">
  
    <p>
      <ul>
        <li> Address: <a href = "https://www.google.com/maps/place/1101+Camden+Ave,+Salisbury,+MD+21801/@38.3442813,-75.6076877,17z/data=!3m1!4b1!4m5!3m4!1s0x89b90409d1f36727:0x2f06af78b38db0d9!8m2!3d38.3442813!4d-75.605499"> 
          1011 Camden Ave. Salibury, MD 201801</a></li>
        <li> Phone:<a href="callto:1234567">+1 410-543-6000</a></li>
      </ul>
    </p>
    
    
    
  </div>
    </body>
</html>
  