<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>Tomcho</title> 
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="TTPage">

  <div data-role="header"><h1>Thomas Tomcho</h1></div>

  <div role="main" class="ui-content">

  <ul>
    <li>Office Hours</li>
      <ul>
        <li>312 Holloway Hall</li> 
      </ul>
        <ul> 
          <li>Tuesday/Thursday @ 1:45 pm - 3:00 pm</li>
          <li>Wednesday @ 11:00 am - 12:00 pm</li>
        </ul>
    Other hours are available by appointment.
  </ul>	
    
    <a href = "http://faculty.salisbury.edu/~tjtomcho/">Click here to learn more about Dr. Tomcho</a>
    
  </div>
	
	
</div>

</body>
</html>
