<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title>Wright</title> 
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>

<div data-role="page" id="KWPage">

  <div data-role="header"><h1>Kathie Wright</h1></div>

  <div role="main" class="ui-content">

  <ul>
    <li>Office Hours</li>
      <ul>
        <li>340 Purdue Hall</li> 
      </ul>
        <ul> 
          <li>Monday/Wednesday @ 12:30 pm - 1:30 pm</li>
          <li>Tuesday @ 1:00 pm - 2:00 pm</li>
        </ul>
    Other hours are available by appointment.
  </ul>	
    
    <a href = "http://www.salisbury.edu/infosys/faculty_staff.html">Click here to learn more about Dr. Wright</a>
    
  </div>
	
	
</div>

</body>
</html>